.sec-02 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: #111222;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.section-title {
  font-size: 3em;
  margin-bottom: 80px;
}

.box-container {
  display: flex;
  flex-direction: column;
}

/*Adding listing css*/
.listingcontainer {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-content: center;
}
.listingcontent {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}
#descarea {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 200px;
  border-radius: 5px;
}
input {
  height: 30px;
}
.bn59 {
  background-color: #141414;
  border: 1px solid rgba(54, 54, 54, 0.6);
  font-weight: 600;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 45px;
  width: 130px;
  opacity: 1;
  color: #fff;
}
.imagesDivStyle {
  position: relative;
}

.imgs {
  height: 200px;
  width: 350px;
  border: 5px solid;
  border-color: white;
  border-radius: 25px;
}

#pdlab {
  vertical-align: top;
}

#addprodbtn,
#selimgsbtn,
#loadlab {
  float: right;
  margin-left: 10px;
}

#controldiv {
  display: flex;
  width: 740px;
  justify-content: center;
}

#uploadstat {
  width: 100vw;
}

/*Display*/
#productsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}

.productcard {
  border: 1px lightgray solid;
  height: 510px;
  width: 290px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 25px;
}

.productcard:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.description {
  padding: 0rem 2rem;
}

.thumb {
  width: 250px;
  height: 160px;
  cursor: pointer;
}

#detbtns {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 15px;
}
#detbtns:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

#detbtns:hover {
  background-color: rgb(1, 1, 87);
  color: wheat;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: darkblue;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  text-align: center;
}
