nav {
  position: absolute;
}

/*Top map section*/
.map-container {
  background-image: url("../imgs/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

/*location section*/
.location-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 100%;
  gap: 2rem;
  margin: 0 auto;
  overflow: hidden;
}

.location {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.4rem;
  overflow: hidden;
}

.location-heading {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.location-heading a {
  color: #666362;
}

/*Btn*/
.btn {
  width: 145px;
  padding: 0.7rem 1rem;
}

/*media queries*/
/*Fix screen set when it hits 500px*/
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .location-container {
    max-width: 500px;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  .location-container {
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media only screen and (min-width: 1024px) {
  .location-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
