/*Display*/
#productsDiv {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.productcard {
  border: 1px lightgray solid;
  height: 510px;
  width: 270px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
}

.productcard:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.description {
  padding: 0rem 2rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.thumb {
  width: 250px;
  height: 160px;
}

.title {
  color: black;
  font-size: 19px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  text-align: center;
}

.btn {
  width: 110px;
  padding: 0.5rem 0.7rem;
}

@media only screen and (min-width: 1416px) {
  #productsDiv {
    margin: 7rem 0rem 12rem;
  }
}
