/*Classes section*/
.class-container {
  display: flex;
  flex-direction: column;
}

.class,
.desc-box {
  flex-direction: column;
  gap: 2rem;
}

.img-box {
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
}

.img-box img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  filter: grayscale(100%);
}

.desc-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  padding: 0.5rem;
}

.desc-head {
  padding: 0.5rem 0.7rem;
  background-color: #666362;
  color: #fff;
  width: fit-content;
}

.desc-text-group {
  line-height: 1.8rem;
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.schedule-pdf {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#adultclass {
  padding-top: 3rem;
}

/*Media Queries*/
@media only screen and (min-width: 768px) {
  .desc-box {
    width: 100%;
  }

  .desc-text {
    flex-direction: row;
    justify-content: center;
  }

  .schedule-pdf {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1024px) {
  .class {
    flex-direction: row;
  }

  #adultclass {
    flex-direction: row-reverse;
  }
}
