/*Promotion section*/
.promo-header {
  padding-bottom: 2rem;
}
.promo-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  max-width: 100%;
  gap: 2rem;
}

.promo-card {
  width: 250px;
  height: 515px;
  background: transparent;
  margin: auto;
  perspective: 1000px;
  flex-direction: column;
  gap: 1rem;
}

.promo-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 3.75rem 1.25rem 1.25rem 1.25rem;
  filter: grayscale(1);
}

#promo1 {
  background-image: url(../imgs/promo1.jpg);
}

#promo2 {
  background-image: url(../imgs/promo2.jpg);
}

#promo3 {
  background-image: url(../imgs/promo3.jpg);
}

.promo-btn .btn {
  width: 90px;
  cursor: pointer;
}

.back {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #666362;
  color: #fff;
  padding: 1.25rem;
  transform: rotateY(180deg);
}

.group {
  display: flex;
  flex-direction: column;
}

.back h2 {
  font-size: 1.1rem;
}

.back p {
  line-height: 1.2rem;
  font-size: 0.8rem;
}

.back .btn {
  width: 90px;
  padding: 0.7rem 0.9rem;
}

/*media queries*/
@media only screen and (min-width: 375px) {
  .promo-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .promo-card {
    width: 320px;
  }
}

@media only screen and (min-width: 1407px) {
  .promo-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

@media only screen and (min-width: 1600px) {
  .promo-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
