.top-section {
  padding-bottom: 0rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 100%;
  gap: 2rem;
  margin: 0 auto;
}

.item-container {
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item-text {
  display: flex;
}

.item-text h3 {
  margin-bottom: 2rem;
}

.bl-heading {
  margin-bottom: 2rem;
}

/*Grading Revision section*/
.gr-item-text {
  max-width: 200px;
}

.attribute-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 100%;
  gap: 2rem;
  /* margin: 0 auto; */
}

.attribute {
  display: flex;
  justify-content: flex-start;
}

.attribute a {
  color: #666362;
}

/*Media Queries*/
@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    overflow: hidden;
  }

  .item-text h3 {
    margin-bottom: 0rem;
  }
  /* .gr-item {
    flex-direction: row;
    gap: 8rem;
    width: 600px;
  } */

  .attribute-list {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .attribute {
    justify-content: flex-end;
  }
}

/* @media only screen and (min-width: 1024px) {
  .item-container {
    flex-direction: row;
    gap: 8rem;
  }

  .item-img {
    max-width: 400px;
    max-height: 400px;
  }

  .gr-item-text {
    width: 100%;
  }

  .item-text {
    max-width: 600px;
  }

  .item-text p {
    width: 600px;
  }
} */
